<!DOCTYPE html>
<html>
<head>
    <title>业务线数据落标</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../static/files/业务线数据落标/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../static/resources/scripts/axure/axQuery.js"></script>
    <script src="../static/resources/scripts/axure/globals.js"></script>
    <script src="../static/resources/scripts/axutils.js"></script>
    <script src="../static/resources/scripts/axure/annotation.js"></script>
    <script src="../static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="../static/resources/scripts/axure/doc.js"></script>
    <script src="../static/resources/scripts/messagecenter.js"></script>
    <script src="../static/resources/scripts/axure/events.js"></script>
    <script src="../static/resources/scripts/axure/recording.js"></script>
    <script src="../static/resources/scripts/axure/action.js"></script>
    <script src="../static/resources/scripts/axure/expr.js"></script>
    <script src="../static/resources/scripts/axure/geometry.js"></script>
    <script src="../static/resources/scripts/axure/flyout.js"></script>
    <script src="../static/resources/scripts/axure/model.js"></script>
    <script src="../static/resources/scripts/axure/repeater.js"></script>
    <script src="../static/resources/scripts/axure/sto.js"></script>
    <script src="../static/resources/scripts/axure/utils.temp.js"></script>
    <script src="../static/resources/scripts/axure/variables.js"></script>
    <script src="../static/resources/scripts/axure/drag.js"></script>
    <script src="../static/resources/scripts/axure/move.js"></script>
    <script src="../static/resources/scripts/axure/visibility.js"></script>
    <script src="../static/resources/scripts/axure/style.js"></script>
    <script src="../static/resources/scripts/axure/adaptive.js"></script>
    <script src="../static/resources/scripts/axure/tree.js"></script>
    <script src="../static/resources/scripts/axure/init.temp.js"></script>
    <script src="../static/resources/scripts/axure/legacy.js"></script>
    <script src="../static/resources/scripts/axure/viewer.js"></script>
    <script src="../static/resources/scripts/axure/math.js"></script>
    <script src="../static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../static/data/document.js"></script>
    <script src="../static/files/业务线数据落标/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="width:200px"></div>
    <a class="navbar-brand" href="#">数据标准管理</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">标准文件管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/second">数据线落标检查</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/third">业务线数据落标</a>
            </li>
        </ul>
    </div>
</nav>

<div id="base" class="container">

    <!-- Unnamed (动态面板) -->
    <div id="u0" class="ax_default">
        <div id="u0_state0" class="panel_state" data-label="记录列表" style="">
            <div id="u0_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1" class="ax_default _形状">
                    <div id="u1_div" class=""></div>
                    <div id="u1_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u2" class="ax_default _文本段落1">
                    <div id="u2_div" class=""></div>
                    <div id="u2_text" class="text ">
                        <p><span style="text-decoration:underline ;"><a
                                href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1.xlsx') }}">重要业务结果文件模板下载</a></span>
                        </p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u3" class="ax_default _文本段落1">
                    <div id="u3_div" class=""></div>
                    <div id="u3_text" class="text ">
                        <p><span style="text-decoration:underline ;"><a
                                href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1_自定义代码.xlsx') }}">自定义代码文件模板下载</a></span>
                        </p>
                    </div>
                </div>



                <!-- Unnamed (表格) -->
                <div id="u4" class="ax_default _表格">
                    <table>
                            <thead>
                            <tr>
                                <td>业务线</td>
                                <td>版本</td>
                                <td>重要业务结果</td>
{#                                <td>下载链接</td>#}
                                <td>自定义代码</td>
{#                                <td>下载链接</td>#}
                                <td>数据标准检查结果</td>
{#                                <td>下载链接</td>#}
                                <td>标准数据元素映射</td>
{#                                <td>下载链接</td>#}
                            </tr>
                            </thead>
                            {% for tuple in tuples %}
                                {% if tuple %}
                                    <tr>
                                        <td>{{ tuple[0] }}</td>
                                        <td>{{ tuple[1] }}</td>
                                        <td>{{ tuple[2] }}</td>
                                        <td>{{ tuple[3] }}</td>
                                        <td>{{ tuple[4] }}</td>
                                        <td>{{ tuple[5] }}<a href="{{ url_for('download_file',file_name=tuple[2]) }}">下载</a></td>

{#                                        <td><a href="{{ url_for('download_file',file_name=tuple[2]) }}">下载</a></td>#}

                                    </tr>
                                {% endif %}
                            {% endfor %}


                        </table>

                </div>





                <!-- Unnamed (矩形) -->
                <div id="u20" class="ax_default _文本段落1">
                    <div id="u20_div" class=""></div>
                    <div id="u20_text" class="text ">
                        <p><span>业务线</span></p>
                    </div>
                </div>

                <!-- Unnamed (下拉列表) -->
                <div id="u21" class="ax_default _下拉列表">
                    <div id="u21_div" class=""></div>
                    <select id="u21_input" class="u21_input">
                        <option class="u21_input_option" selected value="全部">全部</option>
                        <option class="u21_input_option" value="学工">学工</option>
                        <option class="u21_input_option" value="人事">人事</option>
                        <option class="u21_input_option" value="研究生">研究生</option>
                        <option class="u21_input_option" value="教务">教务</option>
                    </select>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u22" class="ax_default _形状">
                    <div id="u22_div" class=""></div>
                    <div id="u22_text" class="text " data-toggle="modal" data-target="#exampleModal">
                        <p><span >提交检查文件</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u23" class="ax_default _二级标题1">
                    <div id="u23_div" class=""></div>
                    <div id="u23_text" class="text ">
                        <p><span>数据标准落标记录</span></p>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block text-center">
        <h5 class="modal-title" id="exampleModalLabel">模态框示例</h5>
      </div>
      <div class="modal-body">
        <label for="dropdownExample">下拉框</label>
        <select class="form-control" id="dropdownExample">
          <option>选项1</option>
          <option>选项2</option>
          <option>选项3</option>
          <!-- etc... -->
        </select>

        <label for="inputExample" class="mt-3">输入框</label>
        <input type="text" id="inputExample" class="form-control">

        <label for="fileUpload1" class="mt-3">上传文件1</label>
        <input type="file" id="fileUpload1" class="form-control-file">

        <label for="fileUpload2" class="mt-3">上传文件2</label>
        <input type="file" id="fileUpload2" class="form-control-file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

        <div id="u0_state2" class="panel_state" data-label="提示" style="visibility: hidden;">
            <div id="u0_state2_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u39" class="ax_default _形状">
                    <div id="u39_div" class=""></div>
                    <div id="u39_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u40" class="ax_default _形状">
                    <div id="u40_div" class=""></div>
                    <div id="u40_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u41" class="ax_default _形状">
                    <div id="u41_div" class=""></div>
                    <div id="u41_text" class="text ">
                        <p><span>确认</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u42" class="ax_default _二级标题1">
                    <div id="u42_div" class=""></div>
                    <div id="u42_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u43" class="ax_default _形状">
                    <div id="u43_div" class=""></div>
                    <div id="u43_text" class="text ">
                        <p><span>提示</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u44" class="ax_default _文本段落1">
                    <div id="u44_div" class=""></div>
                    <div id="u44_text" class="text ">
                        <p><span>数据标准落标文件提交成功。</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u45" class="ax_default _文本段落1">
                    <div id="u45_div" class=""></div>
                    <div id="u45_text" class="text ">
                        <p><span>产品版本： 4.2.3</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/resources/scripts/axure/ios.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
