<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>数据标准文件管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../static/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../static/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../static/files/数据标准文件管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../static/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../static/resources/scripts/axure/axQuery.js"></script>
    <script src="../static/resources/scripts/axure/globals.js"></script>
    <script src="../static/resources/scripts/axutils.js"></script>
    <script src="../static/resources/scripts/axure/annotation.js"></script>
    <script src="../static/resources/scripts/axure/axQuery.std.js"></script>
    <script src="../static/resources/scripts/axure/doc.js"></script>
    <script src="../static/resources/scripts/messagecenter.js"></script>
    <script src="../static/resources/scripts/axure/events.js"></script>
    <script src="../static/resources/scripts/axure/recording.js"></script>
    <script src="../static/resources/scripts/axure/action.js"></script>
    <script src="../static/resources/scripts/axure/expr.js"></script>
    <script src="../static/resources/scripts/axure/geometry.js"></script>
    <script src="../static/resources/scripts/axure/flyout.js"></script>
    <script src="../static/resources/scripts/axure/model.js"></script>
    <script src="../static/resources/scripts/axure/repeater.js"></script>
    <script src="../static/resources/scripts/axure/sto.js"></script>
    <script src="../static/resources/scripts/axure/utils.temp.js"></script>
    <script src="../static/resources/scripts/axure/variables.js"></script>
    <script src="../static/resources/scripts/axure/drag.js"></script>
    <script src="../static/resources/scripts/axure/move.js"></script>
    <script src="../static/resources/scripts/axure/visibility.js"></script>
    <script src="../static/resources/scripts/axure/style.js"></script>
    <script src="../static/resources/scripts/axure/adaptive.js"></script>
    <script src="../static/resources/scripts/axure/tree.js"></script>
    <script src="../static/resources/scripts/axure/init.temp.js"></script>
    <script src="../static/resources/scripts/axure/legacy.js"></script>
    <script src="../static/resources/scripts/axure/viewer.js"></script>
    <script src="../static/resources/scripts/axure/math.js"></script>
    <script src="../static/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../static/data/document.js"></script>
    <script src="../static/files/数据标准文件管理/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
</head>
<body>
<!-- 弹出窗口 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">表单</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 表单 -->
                <form action="/submit" method="POST" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <label for="selectBusiness" class="col-sm-4 col-form-label">请选择业务线：</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="selectBusiness" name="business">
                                <option value="option1">学工</option>
                                <option value="option2">人事</option>
                                <option value="option3">研究生</option>
                                <option value="option4">教务</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="selectFileType" class="col-sm-4 col-form-label">请选择文件类型：</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="selectFileType" name="fileType">
                                <option value="option1">数据元素</option>
                                <option value="option2">标准代码</option>
                                <option value="option3">业务线数据元素映射</option>
                                <option value="option4">标准层模型</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="fileInput" class="col-sm-4 col-form-label">请选择数据标准文件：</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="fileInput" name="dataFile" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="base" class="">

    <!-- Unnamed (动态面板) -->
    <div id="u116" class="ax_default">
        <div id="u116_state0" class="panel_state" data-label="记录列表" style="">
            <div id="u116_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u117" class="ax_default _形状">
                    <div id="u117_div" class=""></div>
                    <div id="u117_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u118" class="ax_default _文本段落1">
                    <div id="u118_div" class=""></div>
                    <div id="u118_text" class="text ">
                        <p><span style="text-decoration:underline ;"><a
                                href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1.xlsx') }}">重要业务结果文件模板下载</a></span>
                        </p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u119" class="ax_default _文本段落1">
                    <div id="u119_div" class=""></div>
                    <div id="u119_text" class="text ">
                        <p><span style="text-decoration:underline ;"><a
                                href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1_自定义代码.xlsx') }}">自定义代码文件模板下载</a></span>
                        </p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u120" class="ax_default _文本段落1">
                    <div id="u120_div" class=""></div>
                    <div id="u120_text" class="text ">
                        <p><span>业务线</span></p>
                    </div>
                </div>

                <!-- Unnamed (下拉列表) -->
                <div id="u121" class="ax_default _下拉列表">
                    <div id="u121_div" class=""></div>
                    <select id="u121_input" class="u121_input">
                        <option class="u121_input_option" selected value="全部">全部</option>
                        <option class="u121_input_option" value="学工">学工</option>
                        <option class="u121_input_option" value="人事">人事</option>
                        <option class="u121_input_option" value="研究生">研究生</option>
                        <option class="u121_input_option" value="教务">教务</option>
                    </select>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u122" class="ax_default _形状" data-bs-toggle="modal" data-bs-target="#myModal">
                    <div id="u122_div" class=""></div>
                    <div id="u122_text" class="text ">
                        <p><span>提交检查文件</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u123" class="ax_default _二级标题1">
                    <div id="u123_div" class=""></div>
                    <div id="u123_text" class="text ">
                        <p><span>数据标准文件管理</span></p>
                    </div>
                </div>

                <!-- Unnamed (表格) -->
                <div id="u124" class="ax_default _表格">
                    <table>
                        <thead>
                        <tr>
                            <td>文件类型</td>
                            <td>版本</td>
                            <td>业务线</td>
                            <td>标准文件</td>
                            <td>下载链接</td>
                        </tr>
                        </thead>
                        {% for tuple in tuples %}
                            {% if tuple %}
                                <tr>
                                    <td>{{ tuple[1] }}</td>
                                    <td></td>
                                    <td>{{ tuple[0] }}</td>
                                    <td>{{ tuple[2] }}</td>
                                    <td><a href="{{url_for('download_file',file_name=tuple[2])}}">下载</a></td>

                                </tr>
                            {% endif %}
                        {% endfor %}


                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/resources/scripts/axure/ios.js"></script>
</body>
</html>
