{% extends "base.html" %}
{% block title %}
    <title>数据线落标检查</title>
{% endblock %}

{% block css %}
    <link href="../static/files/数据线落标检查/styles.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block datajs %}
    <script src="../static/files/数据线落标检查/data.js"></script>
{% endblock %}


{% block content %}


    <div id="base" class="">

        <!-- Unnamed (动态面板) -->
        <div id="u46" class="ax_default">
            <div id="u46_state0" class="panel_state" data-label="记录列表" style="">
                <div id="u46_state0_content" class="panel_state_content">

                    <!-- Unnamed (矩形) -->
                    <div id="u47" class="ax_default _形状">
                        <div id="u47_div" class=""></div>
                        <div id="u47_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u48" class="ax_default _文本段落1">
                        <div id="u48_div" class=""></div>
                        <div id="u48_text" class="text ">
                            <p><span style="text-decoration:underline ;">重要业务结果文件模板下载</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u49" class="ax_default _文本段落1">
                        <div id="u49_div" class=""></div>
                        <div id="u49_text" class="text ">
                            <p><span style="text-decoration:underline ;">重要业务结果文件模板下载</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u50" class="ax_default _文本段落1">
                        <div id="u50_div" class=""></div>
                        <div id="u50_text" class="text ">
                            <p><span>业务线</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (下拉列表) -->
                    <div id="u51" class="ax_default _下拉列表">
                        <div id="u51_div" class=""></div>
                        <select id="u51_input" class="u51_input">
                            <option class="u51_input_option" selected value="全部">全部</option>
                            <option class="u51_input_option" value="学工">学工</option>
                            <option class="u51_input_option" value="人事">人事</option>
                            <option class="u51_input_option" value="研究生">研究生</option>
                            <option class="u51_input_option" value="教务">教务</option>
                        </select>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u52" class="ax_default _二级标题1">
                        <div id="u52_div" class=""></div>
                        <div id="u52_text" class="text ">
                            <p><span>业务线数据落标检查确认</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (下拉列表) -->
                    <div id="u53" class="ax_default _下拉列表">
                        <div id="u53_div" class=""></div>
                        <select id="u53_input" class="u53_input">
                            <option class="u53_input_option" value="待确认">待确认</option>
                            <option class="u53_input_option" value="已确认">已确认</option>
                            <option class="u53_input_option" selected value="全部">全部</option>
                        </select>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u54" class="ax_default _文本段落1">
                        <div id="u54_div" class=""></div>
                        <div id="u54_text" class="text ">
                            <p><span>状态</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (表格) -->
                    <div id="u55" class="ax_default _表格">
                         <table>
                            <thead>
                            <tr>
                                <td>业务线</td>
                                <td>版本</td>
                                <td>数据标准文件</td>
                                <td>数据标准检查结果</td>
                                <td>确认状态</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            {% for tuple in tuples %}
                                {% if tuple %}
                                    <tr>
                                        <td>{{ tuple[1] }}</td>
                                        <td></td>
                                        <td>{{ tuple[0] }}</td>
                                        <td>{{ tuple[2] }}</td>
                                        <td><a href="{{ url_for('download_file',file_name=tuple[2]) }}">下载</a></td>

                                    </tr>
                                {% endif %}
                            {% endfor %}


                        </table>

                    </div>
                </div>
            </div>
            <div id="u46_state1" class="panel_state" data-label="提交记录" style="visibility: hidden;">
                <div id="u46_state1_content" class="panel_state_content">

                    <!-- Unnamed (矩形) -->
                    <div id="u92" class="ax_default _形状">
                        <div id="u92_div" class=""></div>
                        <div id="u92_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u93" class="ax_default _形状">
                        <div id="u93_div" class=""></div>
                        <div id="u93_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u94" class="ax_default _形状">
                        <div id="u94_div" class=""></div>
                        <div id="u94_text" class="text ">
                            <p><span>请选择本地文件</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u95" class="ax_default _文本段落1">
                        <div id="u95_div" class=""></div>
                        <div id="u95_text" class="text ">
                            <p><span>请选择检查文件：</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u96" class="ax_default _文本段落1">
                        <div id="u96_div" class=""></div>
                        <div id="u96_text" class="text ">
                            <p><span>请选择业务线：</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (下拉列表) -->
                    <div id="u97" class="ax_default _下拉列表">
                        <div id="u97_div" class=""></div>
                        <select id="u97_input" class="u97_input">
                            <option class="u97_input_option" value="学工">学工</option>
                            <option class="u97_input_option" selected value="人事">人事</option>
                            <option class="u97_input_option" value="研究生">研究生</option>
                            <option class="u97_input_option" value="教务">教务</option>
                        </select>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u98" class="ax_default _文本段落1">
                        <div id="u98_div" class=""></div>
                        <div id="u98_text" class="text ">
                            <p><span>请输入版本号：</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u99" class="ax_default _形状">
                        <div id="u99_div" class=""></div>
                        <div id="u99_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u100" class="ax_default _形状">
                        <div id="u100_div" class=""></div>
                        <div id="u100_text" class="text ">
                            <p><span>确认</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u101" class="ax_default _形状">
                        <div id="u101_div" class=""></div>
                        <div id="u101_text" class="text ">
                            <p><span>取消</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u102" class="ax_default _二级标题1">
                        <div id="u102_div" class=""></div>
                        <div id="u102_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u103" class="ax_default _形状">
                        <div id="u103_div" class=""></div>
                        <div id="u103_text" class="text ">
                            <p><span>业务线落标确认文件提交</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (线段) -->
                    <div id="u104" class="ax_default _线段">
                        <img id="u104_img" class="img " src="../static/images/业务线数据落标/u38.svg"/>
                        <div id="u104_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u105" class="ax_default _文本段落1">
                        <div id="u105_div" class=""></div>
                        <div id="u105_text" class="text ">
                            <p><span>请选择文件类型：</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (下拉列表) -->
                    <div id="u106" class="ax_default _下拉列表">
                        <div id="u106_div" class=""></div>
                        <select id="u106_input" class="u106_input">
                            <option class="u106_input_option" selected value="重要业务结果确认">重要业务结果确认
                            </option>
                            <option class="u106_input_option" value="自定义代码确认">自定义代码确认</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="u46_state2" class="panel_state" data-label="提示" style="visibility: hidden;">
                <div id="u46_state2_content" class="panel_state_content">

                    <!-- Unnamed (矩形) -->
                    <div id="u107" class="ax_default _形状">
                        <div id="u107_div" class=""></div>
                        <div id="u107_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u108" class="ax_default _形状">
                        <div id="u108_div" class=""></div>
                        <div id="u108_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u109" class="ax_default _形状">
                        <div id="u109_div" class=""></div>
                        <div id="u109_text" class="text ">
                            <p><span>确认</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u110" class="ax_default _二级标题1">
                        <div id="u110_div" class=""></div>
                        <div id="u110_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u111" class="ax_default _形状">
                        <div id="u111_div" class=""></div>
                        <div id="u111_text" class="text ">
                            <p><span>提示</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u112" class="ax_default _文本段落1">
                        <div id="u112_div" class=""></div>
                        <div id="u112_text" class="text ">
                            <p><span>数据落标确认文件提交成功。</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u113" class="ax_default _文本段落1">
                        <div id="u113_div" class=""></div>
                        <div id="u113_text" class="text ">
                            <p><span>产品版本： 4.2.3</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u114" class="ax_default _文本段落1">
                        <div id="u114_div" class=""></div>
                        <div id="u114_text" class="text ">
                            <p><span>业务线： 人事产品</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u115" class="ax_default _文本段落1">
                        <div id="u115_div" class=""></div>
                        <div id="u115_text" class="text ">
                            <p><span>文件类型： 自定义代码 </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

