{% extends "base.html" %}


{% block title %}
    <title>数据标准文件管理</title>
{% endblock %}
{% block css %}
    <link href="../static/files/数据标准文件管理/styles.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block datajs %}
    <script src="../static/files/数据标准文件管理/data.js"></script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-info alert-dismissible fade show center-block fixed-top" role="alert">
            {{ messages[0] }}
            {#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
            {#                <span aria-hidden="true">&times;</span>#}
            {#            </button>#}
        </div>
    {% endif %}
{% endwith %}
<script>
    // 获取alert元素
    var alert = $('.alert');
    // 设置2秒后淡出并收起alert
    alert.fadeTo(1300, 500).slideUp(500, function () {
        alert.slideUp(500);
    });
</script>
<!-- 弹出窗口 -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">表单</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 表单 -->
                <form action="/submit" method="POST" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <label for="selectBusiness" class="col-sm-4 col-form-label">请选择业务线：</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="selectBusiness" name="business">
                                <option value="学工">学工</option>
                                <option value="人事">人事</option>
                                <option value="研究生">研究生</option>
                                <option value="教务">教务</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="selectFileType" class="col-sm-4 col-form-label">请选择文件类型：</label>
                        <div class="col-sm-8">
                            <select class="form-select" id="selectFileType" name="fileType">
                                <option value="数据元素">数据元素</option>
                                <option value="标准代码">标准代码</option>
                                <option value="业务线数据元素映射">业务线数据元素映射</option>
                                <option value="标准层模型">标准层模型</option>
                                <option value="数据标准检查结果模板上传">数据标准检查结果模板上传</option>
                                <option value="重要业务结果文件模板上传">重要业务结果文件模板上传</option>
                                <option value="自定义代码文件模板上传">自定义代码文件模板上传</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="fileInput" class="col-sm-4 col-form-label">请选择数据标准文件：</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" id="fileInput" name="dataFile" required
                                   accept=".xlsx">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div id="base" class="">

        <!-- Unnamed (动态面板) -->
        <div id="u116" class="ax_default">
            <div id="u116_state0" class="panel_state" data-label="记录列表" style="">
                <div id="u116_state0_content" class="panel_state_content">

                    <!-- Unnamed (矩形) -->
                    <div id="u117" class="ax_default _形状">
                        <div id="u117_div" class=""></div>
                        <div id="u117_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u118" class="ax_default _文本段落1">
                        <div id="u118_div" class=""></div>
                        <div id="u118_text" class="text ">
                            <p><span style="text-decoration:underline ;"><a
                                    href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1.xlsx') }}">重要业务结果文件模板下载</a></span>
                            </p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u119" class="ax_default _文本段落1">
                        <div id="u119_div" class=""></div>
                        <div id="u119_text" class="text ">
                            <p><span style="text-decoration:underline ;"><a
                                    href="{{ url_for('download_template',file_name='XXXX产品名称_4.0.1_自定义代码.xlsx') }}">自定义代码文件模板下载</a></span>
                            </p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u120" class="ax_default _文本段落1">
                        <div id="u120_div" class=""></div>
                        <div id="u120_text" class="text ">
                            <p><span>业务线</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (下拉列表) -->
                    <div id="u121" class="ax_default _下拉列表">
                        <div id="u121_div" class=""></div>
                        <select id="u121_input" class="u121_input" name="select_list">
                            <option class="u121_input_option" selected value="全部">全部</option>
                            <option class="u121_input_option" value="学工">学工</option>
                            <option class="u121_input_option" value="人事">人事</option>
                            <option class="u121_input_option" value="研究生">研究生</option>
                            <option class="u121_input_option" value="教务">教务</option>
                        </select>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u122" class="ax_default _形状" data-bs-toggle="modal" data-bs-target="#myModal">
                        <div id="u122_div" class=""></div>
                        <div id="u122_text" class="text ">
                            <p><span>提交标准文件</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u123" class="ax_default _二级标题1">
                        <div id="u123_div" class=""></div>
                        <div id="u123_text" class="text ">
                            <p><span>数据标准文件管理</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (表格) -->
                    <div id="u124" class="ax_default _表格">
                        <table>
                            <thead>
                            <tr>
                                <td>文件类型</td>
                                <td>版本</td>
                                <td>业务线</td>
                                <td>标准文件</td>
                                <td>下载链接</td>
                            </tr>
                            </thead>
                            {% for tuple in tuples %}
                                {% if tuple %}
                                    <tr>
                                        <td>{{ tuple[1] }}</td>
                                        <td></td>
                                        <td>{{ tuple[0] }}</td>
                                        <td>{{ tuple[2] }}</td>
                                        <td><a href="{{ url_for('download_file',file_name=tuple[2]) }}">下载</a></td>

                                    </tr>
                                {% endif %}
                            {% endfor %}


                        </table>

                    </div>
                 <script>
// 标记每页显示的行数
var numPerPage = 6;
var $tableBody = $('table tbody');

$(document).ready(function () {
    // 计算表格数据行数
    var numRows = $tableBody.find('tr').length;
    // 计算页数
    var numPages = Math.ceil(numRows / numPerPage);
    // 获取分页组件
    var $pagination = $('#pagination-container');

    // 循环创建页数按钮
    for (var i = 0; i < numPages; i++) {
        $('<li class="page-item"><a class="page-link" href="#">' + (i + 1) + '</a></li>')
        .insertBefore("#next-page")
        .bind('click', { newPage: i }, function (event) {
            var currentPage = event.data['newPage'];
            $tableBody.find('tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
        })
    }

    // 默认显示第一页的数据行
    $tableBody.find('tr').hide().slice(0, numPerPage).show();

    // 首尾页处理
    $("#next-page").click(function(){
        var $activePage = $(".pagination li.active");
        if ($activePage.index() < numPages) {
            $activePage.removeClass("active").next().addClass("active").click();
        }
    });

    $("#prev-page").click(function(){
        var $activePage = $(".pagination li.active");
        if ($activePage.index() > 1) { // 其中1为上一页按钮
            $activePage.removeClass("active").prev().addClass("active").click();
        }
    });
});
</script>
<div class="fixed-bottom p-3" style="background-color: white;">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" id="pagination-container">
      <li class="page-item" id="prev-page">
{#        <a class="page-link" href="#" aria-label="Previous">#}
{#          <span aria-hidden="true">&laquo;</span>#}
        </a>
      </li>
      <li class="page-item" id="next-page">
{#        <a class="page-link" href="#" aria-label="Next">#}
{#          <span aria-hidden="true">&raquo;</span>#}
        </a>
      </li>
    </ul>
  </nav>
</div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


